@font-face {
    font-family: Inter-Regular;
    src: url('fonts/Inter/static/Inter-Regular.ttf');
}

@font-face {
    font-family: Inter-Medium;
    src: url('fonts/Inter/static/Inter-Medium.ttf');
}

.page-body {
    padding-left: 22rem;
    padding-top: 4.5rem;
}

/* sidebar */

.sidebar {
    font-family: Inter-Regular;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 2rem 1.5rem;
    justify-content: space-between;
    width: 19rem;
    border-right: 1px solid #D0D5DD;
}

.sidebar-part-one, 
.sidebar-part-two, 
.sidebar-section-one {
    display: flex;
    flex-direction: column;
    row-gap: 1.5rem;
}

.sidebar-title {
    display: flex;
    align-items: center;
    column-gap: 0.8rem;
    font-size: 1.1rem;
    font-family: Inter-Medium;
}

.logo-img, 
.section-img {
    max-width: 100%;
}

.sidebar-input {
    font-family: Inter-Regular, FontAwesome;
    width: 19rem;
    height: 2.75rem;
    align-self: stretch;
    padding: 5px;
    justify-content: center;
    align-items: center;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.sidebar-section {
    display: flex;
    column-gap: 0.8rem;
    font-size: 1rem;
}

.sidebar-section:hover {
    cursor: pointer;
}

.used-space {
    border-radius: 0.5rem;
    background-color: #F9F5FF;
    display: flex;
    flex-direction: column;
    padding: 1.25rem 1rem;
    gap: 1rem;
    width: 17rem;
}

.progress-bar-border {
    width: 17rem;
    height: 0.5rem;
    background-color: #F4EBFF;
    border-radius: 2rem;
}

.progress-bar{
    width: 80%;
    height: 0.5rem;
    background-color: #7F56D9;
    border-radius: 2rem;
}

.sidebar-profile  {
    display: flex;
    justify-content: space-between;
}

.sidebar-profile-data {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    font-size: 0.8rem;
}

.sidebar-profile-name {
    font-weight: Inter-Medium;
    
}

.sidebar-button:hover {
    cursor: pointer;
}

/* page */

.page {
    display: flex;
    flex-direction: column;
    font-family: Inter-Regular;
   
}

.page-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    right: 0;
    top: 0;
    left: 22rem;
    height: 3rem;
    padding: 0.5rem 2rem;
    border-bottom: 1px solid #D0D5DD;
}

.page-title {
    color: #6941C6;
    font-size: 14px;
    font-family: Inter-Medium;
}

.page-title:hover {
    cursor: pointer;
}

.profile {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile img {
    max-width: 100%;
}

.profile img:hover {
    cursor: pointer;
}  

.page-info {
    /* background-color: #EAECF0; */
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.page-search {
    font-family: Inter-Regular, FontAwesome;
    width: 22rem;
    height: 2.75rem;
    padding-left: 0.5rem;
    border: 1px solid #D0D5DD;
    border-radius: 8px;
}

.card {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
}

.card-title-div {
    display: flex;
    justify-content: space-between;
    padding: 20px 24px 19px 24px;
}

.card-title {
    font-family: Inter-Medium;
    font-size: 18px;
}

.add-clients-btn {
    background-color: #7F56D9;
    border: none;
    border-radius: 8px;
    padding: 10px 16px;
    color: white;
}

.add-clients-btn:hover {
    cursor: pointer;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 24px;
    background-color: #F9FAFB;
    /* gap: 230px; */
}

.table-row {
    display: flex;
    padding: 12px 24px;
    align-items: center;
    justify-content: space-between;
}

.modal-div {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: gray;
    opacity: 0.9;
    font-family: Inter-Regular;
}

.add-client-modal {
    position: absolute;
    background-color: white;/*#EAECF0;*/
    display: flex;
    flex-direction: column;
    /* width: 352px; */
    height: 100%;
    /* top: calc(50% - 200px); */
    left: calc(50% - 250px);
    padding: 1.5rem;
}

.modal-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgb(234, 236, 240);
}

.modal-title {
    font-family: Inter-Medium;
    font-size: 20px;
}

.country-code, .addres-apt {
    display: flex;
    gap: 10px;
}

.modal-row {
    display: flex;
    flex-direction: column;
    gap: 6px;
    margin-top: 1.5rem;
}

.modal-div input {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding: 10px 14px;
}

.modal-div select {
    border-radius: 8px;
    border: 1px solid #D0D5DD;
    padding: 10px 14px;
    background-color: white;
}

.modal-div button, img {
    cursor: pointer;
}

.modal-btn-div {
    padding-top: 24px;
    margin-top: 24px;
    border-top: 1px solid rgb(234, 236, 240);
}

.client-info {
    display: flex;
    padding: 1rem;
}

.client-info-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.client-info-header div {
    display: flex;
    align-items: center;
}

.client-info-header h2 {
    font-family: Inter-Medium;
    font-size: 2rem;
    line-height: 2.2rem;
}

.header-btns {
    display: flex;
    gap: 0.8rem;
}